.main-header {
  padding: 5em;
  height: 550px;
  background-color: #a8dadc;
  color: #f1faee;
  background-image: url(/images/ag-square.png)
}

.nav-right {
  font-size: 16px;
}

.avatar {
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .main-header {
    margin: 0 0 0 3rem;
    justify-content: start;
  }
  .nav-right {
    font-size: 24px;
  }
}