nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

.nav-right {
  width: 25%;
  display: inline-block;
  text-align: center;
  flex-direction: row;
  vertical-align: middle;
}

.chevron {
  font-size: 50px;
  color: red;
}
