.container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.bottom-form {
  border-top: solid;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

label {
  text-align: ;
}