.container {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-direction: column;
  flex: 3;
  padding: 0 10em 10em 10em;
}

.tweet-header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.user-thumbnail {
  display: flex;
  justify-content: flex-start;
}

.user-tagname {
  display: flex;
  justify-content: flex-end;
}

.tweet-content {
  padding: 0 0 2em 0.70em ;
}

.avatar-image {
  width: 4rem;
  margin: 0.6em;
}

.tweet-container {
  border: solid;
  width: 47vw;
}

.tweet-footer {
  width: 45vw;
  font-size: 15px;
  padding: 0.5em 1em 1em 1em;
  margin: 1.5em 0 0 0;
  border-top: solid;
  display: flex;
  justify-content: space-between;
}

.tweet-age {
  display: flex;
  justify-content: flex-start;
}

.tweet-icons {
  color: #1d3557;
  display: flex;
  justify-content: flex-end;
}

.bottom-form {
  margin: 1em 0 0 0;
  border-top: solid;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

#tweet-text {
  margin: 1em 0 0 0;
  width: 20em;
  height: 5em;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: #1d3557;
  text-align: center;
}

.redClass {
  color: #e63946;
}